:root {
	--principalColor: #fff;
	--principalColorDarker: #1965ac;
	--colorText: #0e283f;
	--xxs: 6px;
	--xs: 12px;
	--s: 16px;
	--m: 24px;
	--l: 28px;
	--xl: 32px;
	--xxl: 36px;

	--padding-xxs: var(--xxs);
	--padding-xs: var(--xs);
	--padding-s: var(--s);
	--padding-m: var(--m);
	--padding-l: var(--l);
	--padding-xl: var(--xl);
	--padding-xxl: var(--xxl);

	--margin-xxs: var(--xxs);
	--margin-xs: var(--xs);
	--margin-s: var(--s);
	--margin-m: var(--m);
	--margin-l: var(--l);
	--margin-xl: var(--xl);
	--margin-xxl: var(--xxl);

	--font-size-xxs: var(--xxs);
	--font-size-xs: var(--xs);
	--font-size-s: var(--s);
	--font-size-m: var(--m);
	--font-size-l: var(--l);
	--font-size-xl: var(--xl);
	--font-size-xxl: var(--xxl);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.mainContent {
	padding: 48px 16px;
	margin: 0 auto;
}
.display-grid {
	display: grid;
}
.row_gap--xxs {
	row-gap: var(--xxs);
}
.row_gap--xs {
	row-gap: var(--xs);
}
.row_gap--s {
	row-gap: var(--s);
}
.row_gap--m {
	row-gap: var(--m);
}
.row_gap--l {
	row-gap: var(--l);
}
.row_gap--xl {
	row-gap: var(--xl);
}
.row_gap--xxl {
	row-gap: var(--xxl);
}
